@media screen {
    body {
        background-color: var(--background);
        color: var(--text);
    }

    header {
        display: flex;
        border-block-end: var(--text) 1px solid;
    }

    img.logo {
        block-size: 100px;
        inline-size: 100px;
        margin-inline-end: auto;
        border: none;
    }

    nav {
        display: flex;
        margin: 0px;
    }

    .nav {
        block-size: 50px;
        inline-size: 50px;
        margin: auto;
        border: none;

        background-color: var(--black);
        object-fit: fill;
    }

    svg {
        margin: 0px;
    }

    path {
        fill: var(--text);
    }
    main {
        margin-inline: auto;
    }

    article,
    fieldset {
        border: 1px var(--text) solid;
        padding-inline: 2em;
        padding-block: 1em;
        margin: 1em;
    }
    article > .info {
        display: flex;
        border: none;
    }

    article * {
        border: none;
    }

    article > .info > h3 {
        margin-block: 0px;
        margin-inline: auto;
    }
}
