@media only screen and (max-width: 650px) {
    nav {
        inline-size: 75vw;
    }
    main {
        inline-size: 100vw;
    }
}
@media only screen and (max-width: 900px) {
    .label {
        inline-size: 0px;
        overflow: hidden;
    }
}
