:root {
    --background: #494949;
    --pages: #c5c5c5;
    --content: #ffffff;
}

body{
    background-color: var(--background);   
}
body *{
    border: 1px solid black;
    background-color: #var(--background);
    color: white;
    text-shadow: black 0px 0px 4px ;
}
body>* * {
    margin: 10px;
}

header{
    display: flex;
    text-align: center;
}

nav{
    display: flex;
}
nav>* {
    margin-inline: auto;
}

main{

}

div.page {
    background-color: #acacac;
}
div.page>form,div.page>ul{
    background-color: #e7e7e7;
}

footer{
    
}