
div.page {
    background-color: #e7c900;
}
div.page>form,div.page>ul{
    background-color: #f90000;
}

body * {
    background-color: #ff5c00;
    border: 1px solid black;
    margin: 20px;
    color: white;
    text-shadow: black 0px 0px 4px ;
}

body>*{
    background-color: #668960;
    margin: 0px;
}