header {
    display: flex;
    border-block-end: var(--text) 1px solid;
}

header * {
    margin: 1rem;
}

header > img {
    block-size: 100px;
    inline-size: 100px;

    margin: auto;
    padding: 0px;

    border: none;

    background-color: var(--background);
}
