header {
    border: red 5px solid;
    block-size: 20vw;
}

nav {
    border: orange 5px solid;
    block-size: 10vw;
}

.nav {
    display: flexbox;
    list-style: none;
    text-decoration: none;
}

main {
    border: yellow 5px solid;
    min-block-size: 60vw;
}

footer {
    block-size: 20vw;
    border: blue 5px solid;
}