nav {
    block-size: initial;
    inline-size: 100%;

    margin: 0px;
    padding: 0px;

    border: none;

    background-color: var(--black);
    display: flex;
}

nav button.nav {
    block-size: 3rem;
    inline-size: 20%;

    margin: auto;
    padding: 0px;

    border: 1px black solid;

    text-align: center;

    block-size: 2rem;
    color: var(--text);

    background-color: var(--black);
    border-radius: 10px 10px 10px 10px;
    border: 1px solid black;
}
