.wrapper.articles {
    /* block-size: 100%; */
    inline-size: 100%;

    margin: 0px;
    padding: 0px;
    border: none;
}
article > .info {
    display: flex;
    border: none;
}

article * {
    border: none;
}

article > .info > h3 {
    margin-block: 0px;
    margin-inline: auto;

    border: none;
}

hr {
    border: 1px black;
}
